{% extends "base_generic.html" %}

{% block content %}
  <h1>CCIL So-Blessed Fellowship!</h1>
  <p>Welcome to SBF online, developed by Alex F.</p>

  <div class="row">
  {% if events %}
  <div class="col-sm-3">
  <h2> Fellowship </h2>
  <p class="lead"> Fellowship usually takes place every Saturday evening (starting at 16:30).
    DINNER WILL BE PROVIDED </p>
</div>

  {% for post in posts %}
  <div class="col-sm-3">
  <div class="card" style="width: 20rem;">
      <div id="unchanged_card" class="card colour-2 text-white">
    <div class="card-body ">
      <h5 class="card-title">{{ post.post_title }}</h5>
      <p class="card-text">{{post.pub_date}}</p>
      <a href="{{ post.get_absolute_url }}" class="btn btn-outline">More Details</a>
    </div>
  </div>
  </div>
</div>

{% endfor %}
{% else %}
  <p>There are no registered events.</p>
{% endif %}
</div>
<br>
  <div class="row">
      <div class="col-sm-3 ">
  {% if user.is_authenticated %}
  {% if group_events %}
    <h2> Group {{group}}</h2>
    <p class="lead"> Enjoy your time with your group and grow together in HIM </p>
  </div>

  {% else %}
    <p>There are no registered events.</p>
  {% endif %}
</div>
{% endif %}

{% endblock %}
